:root{
    --orange: #ff7800;
    --green: #198754;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline: .1rem solid rgba(0,0,0,.1);
    --outline-hover: .2rem solid var(--orange);
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width: 90%;
    }

    .header .navbar{
        position: absolute;
        top: 110%; right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar a{
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .category-heading .features-heading .product-heading h2{
        font-size: 1.2rem;
    }
    .footer{
        text-align: center;
    }
}

/* @media (max-width:1280px){

} */

@media (max-width:1050px){
    #category{
        width: 90%;
    }
}

@media (max-width:965px){
    .category-container{
        flex-wrap: wrap;
        justify-content: center;
    }

    .category-box{
        margin: 10px;
    }
}