<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title> Products</title>
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='CSS/shop.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/responsive.css' )}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fontawesome Link for Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>

<body>
    <!-- header start -->
    <header class="header">
      <a href="{{ url_for('index') }}" class="logo">GreenMart</a>
      <nav class="navbar">
          <a href="{{ url_for('index') }}">Home</a>
          <a href="{{ url_for('products.shop_products') }}">Products</a>
          <a href="{{ url_for('categories') }}">Categories</a>
          <a href="{{ url_for('blog') }}">Blogs</a>
      </nav>

      <div class="icons">
          <div class="fas fa-bars" id="menu-btn"></div>
          <div class="fas fa-search" id="search-btn"></div>
          <div class="fas fa-shopping-cart" id="cart-btn"></div>
          <div class="fas fa-user" id="login-btn"></div>
          <!-- {{session['user_id']}} -->
      </div>

      <form action="" class="search-form">
          <input type="search" id="search-box" placeholder="search here...">
          <label for="search-box" class="fas fa-search"></label>
      </form>

      <div class="shopping-cart">
        <div id="message-area"></div>
        {% if cart_items %}
        {% for item in cart_items %}
        <div class="box">
            <a href="#" class="remove-item" data-product-id="{{ item.product_id }}"><i class="fas fa-trash"></i></a>
            <img src="{{ url_for('static', filename=item.image_url) }}" alt="{{ item.product_name }}">
            <div class="content">
                <h3>{{ item.product_name }}</h3>
                <span class="price">KSH {{ item.price }}</span>
                <span class="quantity">qty: {{ item.quantity }}</span>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <div class="total">total : KSH. {{ total_price }}/-</div>
        <form action="{{ url_for('orders.create_order') }}" method="POST">
            <input type="text" name="user_id" hidden>
            <input type="text" name="total_price" value="{{ total_price }}" hidden>
            <input type="submit" value="order now" class="btn">
        </form>
    </div>

      <div class="login-form">
          <a href="{{ url_for('user_bp.login') }}" class="btn">Sign In</a>
          <div class="profile-others">
              <a href="{{ url_for('profile') }}">
                  <div class="fas fa-user"></div>My account
              </a>
              <a href="#">My orders</a>
              <a href="#">saved items</a>
          </div>
      </div>
  </header>
  <!-- header end -->

  <section class="slider">
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        {% for product in products %}
        <li class="card">
          <div class="img"><img src="{{url_for('static', filename=product.image_url)}}" alt="img" draggable="false"></div>
          <h2>{{product.name}}</h2>
          <div class="price">KSH {{product.price}}</div>
          <form action="{{url_for('orders.add_to_cart')}}" method="POST">
            <input type="hidden" name="product_id" value="{{product.id}}">
            <input type="submit" value="add to cart" class="btn">
          </form>
        </li>
        {% endfor %}
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
  </section>
  
  <!-- products section start -->
  <section class="products" id="products">
    <div class="product-heading">
      <h2>Available Products</h2>
    </div>

    <div class="product-container">
      {% for product in products %}
      <div class="product-box">
        <img src="{{url_for('static', filename=product.image_url)}}" alt="products">
        <strong>{{product.name}}</strong>
        <span class="quantity">{{product.description}}</span>
        <span class="price">KSH {{product.price}}</span>
        <form action="{{url_for('orders.add_to_cart')}}" method="POST">
          <input type="hidden" name="product_id" value="{{product.id}}">
          <input type="submit" value="add to cart" class="cart-btn">
        </form>
        <a href="#" class="like-btn">
          <i class="far fa-heart"></i>
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- product section end -->

  <script src="{{ url_for('static', filename='js/shop.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
