<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/responsive.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/summary.css') }}">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css'>
</head>

<body>
    <!-- header start -->
    <header class="header">
        <a href="{{ url_for('main.index') }}" class="logo">GreenMart</a>
        <nav class="navbar">
            <a href="{{ url_for('main.index') }}">Home</a>
            <a href="{{ url_for('products.shop_products') }}">Products</a>
            <a href="{{ url_for('main.categories') }}">Categories</a>
            <a href="{{ url_for('main.blog') }}">Blogs</a>
        </nav>

        <div class="icons">
            <div class="fas fa-bars" id="menu-btn"></div>
            <div class="fas fa-search" id="search-btn"></div>
            <div class="fas fa-shopping-cart" id="cart-btn"></div>
            <div class="fas fa-user" id="login-btn"></div>
            <!-- {{session['user_id']}} -->
        </div>

        <form action="" class="search-form">
            <input type="search" id="search-box" placeholder="search here...">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="shopping-cart">
            <div id="message-area"></div>
            {% if cart_items %}
            {% for item in cart_items %}
            <div class="box">

                <a href="#" class="remove-item" data-product-id="{{ item.product_id }}"><i class="fas fa-trash"></i></a>
                <img src="{{ url_for('static', filename=item.image_url) }}" alt="{{item.product_name}}">
                <div class="content">
                    <h3>{{ item.product_name }}</h3>
                    <span class="price">KSH {{ item.price }}</span>
                    <span class="quantity">qty: {{ item.quantity }}</span>

                </div>
            </div>
            {% endfor %}
            {% endif %}


            <div class="total">total : KSH. {{total_price}}/-</div>
            <form action="{{url_for('orders.create_order')}}" method="POST">
                <input type="text" name="user_id" hidden>
                <input type="text" name="total_price" value="{{total_price}}" hidden>
                <input type="submit" value="order now" class="btn">
            </form>
            <!-- <a href="" class="btn">checkout</a> -->
        </div>

        <div class="login-form">
            <a href="{{ url_for('user_bp.login') }}" class="btn">Sign In</a>
            <div class="profile-others">
                <a href="#">
                    <div class="fas fa-user"></div>My account
                </a>
                <a href="#">My orders</a>
                <a href="#">saved items</a>
            </div>
        </div>
    </header>
    <!-- header end -->

    {% with msg = get_flashed_messages(with_categories=True) %}
    {% if msg %}
    {% for category, message in msg %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        <h2>Order Summary</h2>
        <p>Order ID: {{ order.id }}</p>
        <p>Order Date: {{ order.order_date }}</p>
        <p>Total Price: {{ order.total_price }}</p>
        <p>Payment Status: {{ order.payment_status }}</p>
        <h3>Order Items</h3>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in order_items %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('products.shop_products') }}">Continue shopping</a>
        <!--<a href="{{ url_for('index') }}">Continue Shopping</a> -->

    </div>

    <!-- <nav class="side-panel">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('categories') }}">Categories</a>
        <a href="{{ url_for('blog') }}">Blogs</a>
    </nav> -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>